<header  xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary" style="margin-bottom: 0!important">
        <div class="container">
            <a class="navbar-brand" href="/">Sunset Vacations</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/linii/1">Линии</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" name="destin" href="/destinacii/1">Дестинации</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" name="komp"  href="/kompanii/1">Компании</a>
                    </li>

                </ul>


                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">

                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/rezervacii">
                            <i class="fa fa-shopping-cart">Moi Rezervacii</i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light logout btn-sm ml-3" href="/logout">
                            <i class="fa fa-sign-out "> Logout</i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" name="login" href="/login">
                            <i class="fa fa-sign-in"> Login</i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/register">
                            <i class="fa fa-sign-in" aria-hidden="true">Register</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>