<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:method="POST"th:action="@{'/linii/{id}' (id=${linija?.id_linija})}" >
        <div>
            <label for="vreme">Време</label>
            <input type="date"
                   id="vreme"
                   th:value="${linija?.vreme}"
                   name="vreme"
                  >
        </div>

        <div>
            <label for="cena">Цена</label>
            <input type="number"
                   id="cena"
                   th:value="${linija?.cena}"
                   name="cena"
                   required>
        </div>

        <div >
            <label>Почетна дестинација</label><br/>
            <select id="pocetna" name="pocetna"   multiple="multiple" size="5">
                <!-- For each category you should have one <option> like below  -->
                <option
                        th:each="dest: ${destinacii}"  th:value="${dest.id_destinacija}" th:text="${dest.ime_destinacija}"> </option>
            </select>
        </div>

        <div>
            <label>Крајна дестинација</label><br/>
            <select id="krajna" name="krajna" multiple="multiple" size="5">
                <!-- For each category you should have one <option> like below  -->
                <option th:each="dest: ${destinacii}"  th:value="${dest.id_destinacija}" th:text="${dest.ime_destinacija}"> </option>
            </select>
        </div>
        <div>
            <label>Компании</label><br/>
            <select id="kompanii" name="kompanii" multiple="multiple" size="5">
                <!-- For each category you should have one <option> like below  -->
                <option th:each="komp: ${kompanii}" th:value="${komp.id_kompanija}" th:text="${komp.ime_kompanija}"> </option>
            </select>
        </div>

        <button id="submit"class="btn btn-info mb-2" type="submit">Submit</button>
        <a id="back" href="/linii/1" type="button" class="btn btn-primary mb-2">Back</a>
    </form>
</div>