
<form th:method="POST" th:action="@{'/destinacii/{id}' (id=${destinacija?.id_destinacija})}">
    <div>
        <label for="ime_destinacija">Име</label>
        <input type="text"
               id="ime_destinacija"
               name="ime_destinacija"
               th:value="${destinacija?.ime_destinacija}"
               required>
    </div>

    <div>
        <label for="drzhava">Држава</label>
        <input type="text"
               id="drzhava"
               th:value="${destinacija?.drzhava}"
               name="drzhava" required>
    </div>

    <div>
        <label for="latitude">latitude</label>
        <input type="text"
               id="latitude"
               th:value="${destinacija?.latitude}"
               name="latitude" required>
    </div>
    <div>
        <label for="longitude">longitude</label>
        <input type="text"
               id="longitude"
               th:value="${destinacija?.longitude}"
               name="longitude" required>
    </div>
        <div id="Map" style="height: 650px" ></div>
        <script>
            var map,vectorLayer,selectMarkerControl,selectedFeature;
            var lon             =   21.398902300000003;
            var lat            =    42.00311530048647;

            var zoom        =   5;
            var curpos = new Array();
            var position;

            var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
            var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection

            var cntrposition       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

            function init()
            {
                map = new OpenLayers.Map("Map",{
                        controls:
                            [
                                new OpenLayers.Control.PanZoomBar(),
                                new OpenLayers.Control.LayerSwitcher({}),
                                new OpenLayers.Control.Permalink(),
                                new OpenLayers.Control.MousePosition({}),
                                new OpenLayers.Control.ScaleLine(),
                                new OpenLayers.Control.OverviewMap(),
                            ]
                    }
                );
                var mapnik      = new OpenLayers.Layer.OSM("MAP");
                var markers     = new OpenLayers.Layer.Markers( "Markers" );


                map.addLayers([mapnik,markers]);
                map.addLayer(mapnik);
                map.setCenter(cntrposition, zoom);



                var click = new OpenLayers.Control.Click();
                map.addControl(click);

                click.activate();
                map.addControl(new OpenLayers.Control.LayerSwitcher());
            };

            OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },

                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    );
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                },

                trigger: function(e) {
                    var lonlat = map.getLonLatFromPixel(e.xy);

                    lonlat1= new OpenLayers.LonLat(lonlat.lon,lonlat.lat).transform(toProjection,fromProjection);
                  //  alert("Hello..."+lonlat1.lon + "  " +lonlat1.lat);

                    document.getElementById("longitude").value = lonlat1.lon;
                    document.getElementById("latitude").value = lonlat1.lat;
                    var icon = new OpenLayers.Icon('http://maps.google.com/mapfiles/ms/icons/red-pushpin.png');

                    var markerslayer = new OpenLayers.Layer.Markers( "Markers" );
                    markerslayer.addMarker(new OpenLayers.Marker(lonlat, icon));
                    map.addLayer(markerslayer);

                  // markers.addMarker(new OpenLayers.Marker(cntrposition));

                }



            });

        </script>


    <button id="submit" name="submit" class="btn btn-info mb-2" type="submit">
        <i class="fa fa-check" aria-hidden="true">Submit</i></button>
    <br>
    <a id="back" href="/destinacii/1" type="button" class="btn btn-primary mb-2">Back</a>
</form>




