
 <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
 </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${linii.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th scope="col">Цена</th>
                            <th scope="col">Почетна дестинација</th>
                            <th scope="col">Крајна дестинаија</th>
                            <th scope="col">Компании</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lin : ${linii}" class="cart-item">
                            <td th:text="${lin.cena}"></td>
                            <td th:text="${lin.pocetna.ime_destinacija}"></td>
                            <td th:text="${lin.krajna.ime_destinacija}"></td>
                            <td th:each="komp: ${lin.kompanii}" th:value="${komp.id_kompanija}" th:text="${komp.ime_kompanija}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





